{{ define "main" }}

<h1>Projects</h1>
<div class="posts-list">
  <p>
	<a href="https://github.com/afallon02/ottr-deploy-instructions" target="_blank">Ottr: A geospatial social network</a>
  </p>

  <p>
	<a href="https://github.com/afallon02/VerticalBar" target="_blank">VerticalBar: Utility to put seperators in macOS dock</a>
  </p>


  <p>
	<a href="https://github.com/afallon02/adamfallon.com" target="_blank">adamfallon.com: This website</a>
  </p>
  
  <p>
	<a href="https://github.com/afallon02/myOS" target="_blank">myOS {WIP}: Simple VM</a>
  </p>
</div>

<h1>Latest posts</h1>

<div class="posts-list">
  {{ with .Site.GetPage "/posts" }}
  {{ range first 3 (sort .Data.Pages "Date" "desc" (where .Pages ".Params.private" "!=" true))}}
  <div class="post">
	<p>
	  <div class="date">{{ .PublishDate.Format "Jan. 2, 2006" }}</div>
	  <h1><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></h1>
	  {{ .Summary }}
	</p>
  </div>    
  {{ end }}
  {{ end }}
</div>

<h1>Contact & Links</h1>
<div>
  <p> Email: adam@adamfallon.com</p>
  <p> Github: github.com/afallon02 </p>
</div>

{{ end }}
